<div id="cuerpo" class="cuerpo">
    <h1 style="margin:0px 20px 10px;">Restaurantes encontrados</h1>
    <hr>
    <div style="margin: 15px 30px 30px 20px;">
        <div class="bloque">
            <div class="imagenrestaurant" style="margin: 20px 0 20px 20px;"><%= link_to (image_tag "rest1.jpg", width:"100%"), localmenu_index_path %></div>
            <div class="detallerestaurant" style="width: 450px;margin: 15px 0px 10px 20px;">
                <h4>Nombre del loca</h4>
                <p>Dirección</p>
                <p>Teléfono</p>
                <p>Correo electrónico</p>
                <div style="text-align: right;">
                    <%= link_to 'Ver menú', localmenu_index_path, class: "link_to" %>
                </div>
            </div>
        </div>
        <div class="bloque">
            <div class="imagenrestaurant" style="margin: 20px 0 20px 20px;"><%= link_to (image_tag "rest1.jpg", width:"100%"), localmenu_index_path %></div>
            <div class="detallerestaurant" style="width: 450px;margin: 15px 0px 10px 20px;">
                <h4>Nombre del loca</h4>
                <p>Dirección</p>
                <p>Teléfono</p>
                <p>Correo electrónico</p>
                <div style="text-align: right;">
                    <%= link_to 'Ver menú', localmenu_index_path, class: "link_to" %>
                </div>
            </div>
        </div>
        <div class="bloque">
            <div class="imagenrestaurant" style="margin: 20px 0 20px 20px;"><%= link_to (image_tag "rest1.jpg", width:"100%"), localmenu_index_path %></div>
            <div class="detallerestaurant" style="width: 450px;margin: 15px 0px 10px 20px;">
                <h4>Nombre del loca</h4>
                <p>Dirección</p>
                <p>Teléfono</p>
                <p>Correo electrónico</p>
                <div style="text-align: right;">
                    <%= link_to 'Ver menú', localmenu_index_path, class: "link_to" %>
                </div>
            </div>
        </div>
        <div class="bloque" style="border-bottom: 0px;">
            <div class="imagenrestaurant" style="margin: 20px 0 20px 20px;"><%= link_to (image_tag "rest1.jpg", width:"100%"), localmenu_index_path %></div>
            <div class="detallerestaurant" style="width: 450px;margin: 15px 0px 10px 20px;">
                <h4>Nombre del loca</h4>
                <p>Dirección</p>
                <p>Teléfono</p>
                <p>Correo electrónico</p>
                <div style="text-align: right;">
                    <%= link_to 'Ver menú', localmenu_index_path, class: "link_to" %>
                </div>
            </div>
        </div>
    </div>
</div>
