<h2>Usuario - Crear</h2>
<hr>
<div>
    <%= simple_form_for(@user) do |f| %>
        <%= f.input :name, :label => 'Nombre', :input_html => { :class => 'button' } %>
        <%= f.input :address, :label => 'Dirección' %>
        <%= f.input :district_id, :label => 'Distrito' %>

        <%= f.input :email, :label => 'Email', :placeholder => "nombre@ejemplo.com" %>
        <%= label :state, 'Activo' %>
        <%= f.check_box :state %>
        <%= f.input :password, :label => 'Contraseña' %>
        <%= f.input :password_confirmation, :label => 'Confirmar contraseña' %>
        <%= f.button :submit, :value => "Grabar", :class => 'button' %>
    <% end %>
</div>